# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Pytest cache
.pytest_cache/

# VSCode settings
.vscode/

# macOS stuff
.DS_Store

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/
